.btn-login {
  display: flex;
  padding: 8px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;

  height: 40px;

  border-radius: 8px;
  border: 1px solid #B7B7B7;

  color: #454545;
  font-family: Circular Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 450;
  line-height: 150%;

  transition: background-color 0.2s ease-in, color 0.2s ease-in, opacity 0.2s ease-in;
}

.btn-login:hover, .btn-login:focus {
  opacity: 0.8;
}