.discover {
  padding: 60px 0;
}

.discover__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 80px;
  align-items: center;
}

.discover__desc {
}

.discover__title {
  margin-bottom: 24px;
}

.title-1 {
}

.discover__text {
  margin-bottom: 40px;
}

.text {
}
.discover__form {
}
.discover__picture {
  position: relative;
}

.discover__picture-hint {
    position: absolute;
    left: 40px;
    top: 90px;

    z-index: 2;
}

.discover__picture-scroll {
  position: absolute;
  right: 15px;
  bottom: 20px;
}