.footer {
	padding: 80px 120px;
	background-color: var(--text-color);
  color: var(--text-white);

	a {
		color: var(--text-white);
	}


.footer__row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: flex-start;
	gap: 128px;
}

.footer__copyright {
	max-width: 300px;
	display: grid;
	gap: 24px;
}

.footer__nav {
	display: grid;
	grid-template-columns: 1fr 1fr;

	gap: 40px;
}
}
