.form {
  padding: 12px 16px;

  display: grid;
  grid-template-columns: 1fr auto 1fr auto;
  align-items: center;
  gap: 16px;
  
  border-radius: 16px;
  border: 1px solid rgba(144, 144, 144, 0.30);
  background: var(--page-bg);
}

.form__divider {
  height: 24px;
  width: 1px;
  background-color: var(--accent);
}

.form__label {
  padding-left: 36px;

  display: grid;
  gap: 8px;

  background-position: 0px 0px;
  background-size: auto;
  background-repeat: no-repeat;

  &--location {
    background-image: url('./../img/icons/map.svg');
  }

  &--date {
    background-image: url('./../img/icons/calendar.svg');
  }

  span {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}

.form__input {
  font-size: 14px;
  font-style: normal;
  font-weight: 450;
  line-height: normal;

  &::placeholder {
    color: var(--text-muted);
  }
}

.form__btn {

}