.partners {
  padding: 60px 0;
}

.partners__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
}
.partners__title {
  color: #9E9E9E;
	font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.partners__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  
  
}