.testimonials {
  overflow: hidden;
  max-height: 900px;
}

.testimonials__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.testimonials__col {
  display: grid;
  gap: 32px;

  animation: slideUp 40s linear infinite;

  &:first-child {
    padding-top: 100px;
    animation: slideUp 30s linear infinite;
  }

  &:last-child {
    padding-top: 50px;
    animation: slideUp 50s linear infinite;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-50%);
    // opacity: 1;
    // filter: blur(0px);
  }

  // 97% {
  //   opacity: 0;
  //   filter: blur(10px);
  // }

  // 98% {
  //   transform: translateY(0%);
  //   opacity: 0;
  //   filter: blur(10px);
  // }

  100% {
    transform: translateY(0%);
    // opacity: 1;
    // filter: blur(0px);
  }
  
}